### Python Collections
list, dict, set, tuple

#### List - mutable - ordered - duplicates - index based access

In [9]:
li = ["rose", "lily", "marigold", "lotus", "sunflower"]

In [10]:
# mutable
print(id(li))
li.append("daffodil")
print(id(li)) # memory location is not changing
print(li)

2632211928256
2632211928256
['rose', 'lily', 'marigold', 'lotus', 'sunflower', 'daffodil']

In [11]:
# ordered
print(li[0])
print(li[3])

rose
lotus

In [ ]:
# duplicate entries
print(li)
li.append("rose")
print(li)

['rose', 'lily', 'marigold', 'lotus', 'sunflower', 'daffodil']
None
['rose', 'lily', 'marigold', 'lotus', 'sunflower', 'daffodil', 'rose']

#### Dict - mutable - ordered - unique key - key based access

In [13]:
di = {
    "name":"rose",
    "fragrance":"awesome"
}

print(di)

{'name': 'rose', 'fragrance': 'awesome'}

In [14]:
# mutable
print(id(di))
print(di)
di["price"] = "15rs."
print(id(di))
print(di)

2632212293504
{'name': 'rose', 'fragrance': 'awesome'}
2632212293504
{'name': 'rose', 'fragrance': 'awesome', 'price': '15rs.'}

In [15]:
# ordered
print(di["name"])
print(di["price"])

rose
15rs.

#### Set - mutable - unordered - unique

In [51]:
s = set()
s.add("rose")
s.add("sunflower")
print(s)

{'rose', 'sunflower'}

In [52]:
# mutable
print(id(s))
print(s)
s.add("lotus")
print(id(s))
print(s)

2632211668704
{'rose', 'sunflower'}
2632211668704
{'rose', 'sunflower', 'lotus'}

In [55]:
# unique elemnts
s.add("lotus")

In [56]:
# access elements of set 
for i in s:
    print(i)

rose
sunflower
lotus

#### tuple - immutable - ordered - duplicate - index based

In [41]:
t = ("rose", "lily", "marigold", "lotus", "sunflower")

In [57]:
# immutable
print(id(t))
print(t)
t = ("rose", "lily", "marigold", "lotus", "sunflower", "orchid", "rose")
print(id(t))
print(t)

2632219509184
('rose', 'lily', 'marigold', 'lotus', 'sunflower', 'orchid')
2632219511104
('rose', 'lily', 'marigold', 'lotus', 'sunflower', 'orchid', 'rose')

In [45]:
# ordered
print(t[0])
print(t[5])

rose
orchid

In [74]:
tp1 = (5,6,5,1,3,9)
tp1
sorted(tp1)

[1, 3, 5, 5, 6, 9]

#### Array in python

In [79]:
import array

arr = array.array('i', [2,1,3,6,4,5,8,9])

for i in arr:
    print(i, end=' ')

2 1 3 6 4 5 8 9

In [80]:
# adding element in array
arr.append(56)
print(arr)

array('i', [2, 1, 3, 6, 4, 5, 8, 9, 56])

In [83]:
arr.insert(1, 30)
print(arr)

array('i', [2, 30, 1, 3, 6, 4, 5, 8, 9, 56, 56])

In [86]:
arr.reverse()
print(arr)

array('i', [56, 56, 9, 8, 5, 4, 6, 3, 1, 30, 2])

In [87]:
sorted(arr)

[1, 2, 3, 4, 5, 6, 8, 9, 30, 56, 56]

#### Practice Work

In [75]:
# string - immutable
st="rose"
print(id(st))
print(st)
st="red " + st
print(id(st))
print(st)

2632211589824
rose
2632212716144
red rose

In [ ]:
l1 = [(1,2), (3,4), (5,6)]

# need to print reverse like
# [(2,1), (4,3), (6,5)]

In [68]:
l2 = []
for item in l1:
    tempList = list(item)
    l2.append((tempList[1],tempList[0]))

print(l2)

[(2, 1), (4, 3), (6, 5)]

In [69]:
t1 = ((1,2), (3,4), (5,6))

# need to print reverse like
# ((2,1), (4,3), (6,5)

In [70]:
templi = []
for item in t1:
    tempList = list(item)
    templi.append((tempList[1],tempList[0]))

t2 = tuple(templi)
print(t2)

((2, 1), (4, 3), (6, 5))

In [72]:
t3 = ((1,2,8,4,5), (3,4,5,9,4), (5,6,5,1,3,9))

# need to print reverse and ordered

In [73]:
templi1 = []
for item in t3:
    tempList = list(item)
    templi1.append((sorted(item)))

t4 = tuple(templi1)
print(t4)

([1, 2, 4, 5, 8], [3, 4, 4, 5, 9], [1, 3, 5, 5, 6, 9])